@model IEnumerable<OneOff.Models.ViewModels.GigEditViewModel>

@{
    ViewBag.Title = "Index";
}


<h2>My Upcoming Gigs</h2>
@Html.ActionLink("Create", "Create", null, new { @class="btn btn-primary create-link" })



<ul class="gigs voffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.Date.ToString("MMM")
                </div>
                <div class="day">
                    @gig.Date.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.PostalCode
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Gigs", new { id = gig.GigId })">
                        Edit
                    </a> |
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.GigId">
                        Cancel
                    </a>
                </div>
            </div>
        </li>
    }
</ul>
